<h2>Designing web apps can get stale. So, I went down a crazy CSS path for a bit.</h2>
<p>
  I wanted to see if I could create near photo-realistic images of old baseball scoreboards using only CSS. My goal wasn't
  to write pure, beautiful, semantic HTML and CSS (though I tried). Really, it was to stretch my own thinking with how you can use
  the tools at-hand. Here are the results:
</p>
<div class="figure-container">
    <figure>
      <%= image_tag "wrigley-1941.webp", alt: "Stretching" %>
      <figcaption>Or, everything you do ends up kind of feeling like you? It's that feeling of a band past its prime churning out what sounds like them. The innovation is gone.</figcaption>
    </figure>
     <figure>
      <%= image_tag "comiskey-1978.webp", alt: "Stretching" %>
      <figcaption>Or, everything you do ends up kind of feeling like you? It's that feeling of a band past its prime churning out what sounds like them. The innovation is gone.</figcaption>
    </figure>
</div>

<p>
  It's like writer's block for design (designer's block?). That feeling where nothing feels new anymore.
  When you've done this work for this long, the hardest part is to stretch your own thinking. Or, everything
  you do ends up kind of feeling like you? It's that feeling of a band past its prime churning out what sounds like them.
  The innovation is gone.
</p>
<p>After 25 years, styling code can just feel derivative. Flexbox or grid layout? How much padding and spacing? How dark is the black?</p>

</div>
