<h2>A fun one: HTML and CSS only <strong>baseball scoreboards</strong>.</h2>
<h3>Sometimes you get into design ruts. This was a way for me to stretch my thinking.</h3>
<p>
  I wanted to see if I could create near photo-realistic images of old baseball scoreboards using only CSS. My goal wasn't
  to write pure, beautiful, semantic HTML and CSS (though I tried). Really, it was to stretch my own thinking with how you can use
  the tools at-hand. Here are the results:
</p>
<div class="figure-container">
    <figure>
      <%= image_tag "bb-wrigley-1941.png", alt: "Stretching" %>
      <figcaption>
        <span><strong>Wrigley Field, 1941</strong>: Toyed with CSS perspective, hand-cut letters via polygon() clip-paths, 
        and making it a windy, rainy day with animation.</span>
        <%= render "shared/text_button", path: "https://kawaicheung.io/scoreboards/wrigley-1941.html", text: "See the real thing!" %>
      </figcaption>
    </figure>
     <figure>
      <%= image_tag "bb-comiskey-1978.png", alt: "Stretching" %>
      <figcaption>
        <span><strong>Comiskey Park, 1978</strong>: A complete bastardization of flexbox and CSS grid made for a really fun (and tedious) project.</span>
        <%= render "shared/text_button", path: "https://kawaicheung.io/scoreboards/comiskey-1978.html", text: "See the real thing!" %>  
        </figcaption>
    </figure>
</div>

<p>
  It's like writer's block for design (designer's block?). That feeling where nothing feels new anymore.
  When you've done this work for this long, the hardest part is to stretch your own thinking. Or, everything
  you do ends up kind of feeling like you? It's that feeling of a band past its prime churning out what sounds like them.
  The innovation is gone.
</p>
<p>After 25 years, styling code can just feel derivative. Flexbox or grid layout? How much padding and spacing? How dark is the black?</p>

</div>
