<h2>I write, illustrate a bit, and like to share what I learned.</h2>
<p>
  They say there are two hard things about programming: Cache invalidation and naming things. 
  Let me offer a third: Trying to read about someone else's code.
</p>
<p>
  I find it is hard to reference code and talk abot it at the same time, so I developed a simple way to highlight code.
  Just using the most basic of js.
</p>
<div class="figure-container ">
    <figure>
      <%= video_tag "nt.mov", autoplay: true, loop: true, muted: true, controls: true %>
      <figcaption><span><strong>Simple little touches:</strong> Even when describing small snippets of code, it's hard to quickly pinpoint
      exactly which part the author is referring to. Here, you can rollover the text to see the 
      exact portion highlighted.</span>
      </figcaption>
    </figure>
</div>
 <%= render "shared/external_link_button", path: "https://kawaicheung.io/naming-things", text: "See the webbook here!" %>  
<div class="figure-container">
  <figure>
    <%= image_tag "nt-0.png", alt: "Stretching" %>
    <figcaption>Or, everything you do ends up kind of feeling like you? It's that feeling of a band past its prime churning out what sounds like them. The innovation is gone.</figcaption>
  </figure>

  <figure>
    <%= image_tag "nt-1.png", alt: "Stretching" %>
    <figcaption>Or, everything you do ends up kind of feeling like you? It's that feeling of a band past its prime churning out what sounds like them. The innovation is gone.</figcaption>
  </figure>
</div>
<hr>
<p>
  Writing well is an important part of my work diet. This is not a chore to me&mdash;it's part of what makes doing
  all this stuff fun and rewarding. 
</p>
<p>
  Next up, a tasting flight of my writing and how I like to communicate.
</p>