<h2>A few things I've written, spoken, and illustrated.</h2>
<p>
  They say there are two hard things about programming: Cache invalidation and naming things. 
  Let me offer a third: Trying to read about someone else's code.
</p>
