<% content_for :title, "Meetle" %>
<h2>So why don&rsquo;t you just meet me in the <strong>meetle</strong>?</h2>
<p>
  I just showed you a product I worked on for 15 years. Here's one I started just a few weeks ago in Rails.
  I hope it gives you a taste of my design thinking in mid-flight.
</p>
<p>
  <strong>The idea:</strong> Riffing off the saying &ldquo;This meeting could've been an email,&rdquo;
  the app receives emails and transforms them into web pages that your 
  &ldquo;attendees&rdquo; can respond to asynchronously.
  This gets rid of live meetings while also creating a better way to gather feedback than a lengthy reply chain would.
</p>
<p>
  I'm calling it <strong>Meetle</strong> right now. It's all running locally at the moment, so screenshots and video 
  captures will have to do!
</p>
<hr>
<h3>Sharpening tone and message</h3>
<p>
  Oftentimes, I'll start design with copy. It helps me evolve the idea into something real. Here's my current homepage design and copy.
</p>
<div class="figure-container">
  <figure>
    <%= image_tag "meetle-0.webp", alt: "A screenshot of the Meetle homepage." %>
    <figcaption>
      <span>
        <strong>The elevator pitch:</strong> In 30 seconds, I want someone to understand the idea,
        why it's useful, and entice them to view the sample.
      </span>
    </figcaption>
  </figure>
</div>
<p>
  I came up with six other headlines that I all liked. So, I created a small Stimulus controller to randomize
  the headlines on page load:
</p>
<ul class="headlines">
  <li>This meeting could've been <strike>an email</strike> a meetle.</li>
  <li>Little + meeting = meetle.</li>
  <li>Why don't you just meet me at the meetle?</li>
  <li>Meetles get everyone on the same (web) page.</li>
  <li>A meeting...without the meeting part.</li>
  <li>5.5 million meetings a day should've been meetles.</li>
</ul>
<hr>
<h3>Marketing through pricing</h3>
<p>
  Instead of a monthly subscription, I'm considering selling each meetle at a flat rate. 
  That not only provides a more clear price comparison (the true time cost of a meeting vs. a meetle), but also 
  an alternative selling angle: <strong>Buy a pack of meetles for someone else, like your meeting-loving manager</strong>!
</p>
<div class="figure-container">
  <figure>
    <%= image_tag "meetle-pricing.webp", alt: "A screenshot of the Meetle pricing page." %>
    <figcaption>
      <span>
        <strong>Real ROI:</strong> For $10, I could cancel my next ten needless real-time meetings? Yes please!
      </span>
    </figcaption>
  </figure>
</div>
<hr>
<h3>Getting through the <span class="strike">meeting</span> meetle</h3>
<p>
  Here's the start of what Meetle will look like. I'm dabbling with the idea of a front page that shows 
  the meeting owner, the purpose statement, the attendees, and the timeframe the meetle is active, all derived
  from the email content. I've started right in Rails and front-end code&mdash;no design files.
</p>
<div class="figure-container">
  <figure>
    <%= render "shared/video_figure", video_asset_path_name: "meetle-1.webm" %>
    <figcaption>
      <span>
        For Meetle creators, I want them to think &ldquo;Nice! I created this
        pretty useful, time-saving site by just sending an email?&rdquo;
      </span>
    </figcaption>
  </figure>
</div>
<p class="note">
  <strong>Thinking ahead:</strong> There will eventually be an email parser
  that will turn emails into public web pages based on some conventions.
  For example, the subject line and first paragraph will be part of the intro page, 
  a delimeter like "---" separates text into different pages, and you can list 
  attendees as a list at the end of your email.
</p>
<hr>
<h3>Keyboard first</h3>
<p>
  I'm experimenting with making the entire app controllable via a keyboard. Hitting <span class="code">ENTER</span> sends you into the Meetle.
  The <span class="code">&larr;</span> and <span class="code">&rarr;</span> keys let you quickly navigate between pages. 
  Clicking <span class="code">F</span> spawns an auto-focused pop-up for giving feedback.
</p>
<div class="figure-container">
  <figure>
    <%= render "shared/video_figure", video_asset_path_name: "meetle-2.webm", user_initiated: true %>
    <figcaption>
      <span>
        <strong>Keying in:</strong> Early flow of Meetle using keyboard navigation only (see lower-left of video for key captures).
      </span>
    </figcaption>
  </figure>
</div>
<hr>
<h3>Opinionated software</h3>
<p>
  <strong>You introduced the world to the idea of opinionated software 20 years ago</strong>, and I've taken that idea to heart in 
  many of the products I've worked on. Meetle is very opinionated. A few examples: A required purpose statement. 
  One piece of feedback, per page, per attendee rather than lengthy back-and-forths. 
  A small period of time for viewing and feedback.
</p>
<p class="note">
  <strong>So you're telling me there's a chance?</strong> 
  If I'm actually offered this job, I will (quite gladly) cease working on this app due to its potential 
  overlap with 37signals products. 
</p>
<hr>
<p>
  Moving on from web-based software, my final two work examples are pure passion projects.
</p>






