<h2>I wrote a book about naming things and built a web book for it.</h2>

<p>
  I find it is hard to reference code and talk abot it at the same time, so I developed a simple way to highlight code.
  Just using the most basic of js.
</p>

</div>
