<h2>Before I found your job posting, I was working on a new way to have meetings.</h2>

<p>
  I find it is hard to reference code and talk abot it at the same time, so I developed a simple way to highlight code.
  Just using the most basic of js.
</p>

</div>
