<h2>Shiftlist: A keyboard-friendly to-do list app</h2>

<p>
  I've been using a to-do list app for years. I've tried a lot of them. I've tried the popular ones. I've tried the fancy ones.
  But I've never found one that really clicked with me. So I decided to build my own.
</p>


