<h2>First, a quick bit about me.</h2>
<p>
  I'm a husband and father to two wonderful(ly hectic) kids.
  After growing up in and around Chicago, I moved to San Francisco in 2014, where I've worked
  remotely ever since.
</p>
<p>
  For over 25 years, I've been building things for the Web. 
  I've worked almost exclusively within tiny development teams (as many as 3 to as few as just me).
  That's required me to learn a lot about a lot. 
</p>
<p>
  I'm a multi-specialist. I
  craft user interfaces from conception to deployment, but I've also maintained large relational databases, 
  built complex server-side systems, and managed production infrastructure too 
  (though I don't love that last part).
</p>
<p>
  As a product designer, I use my understanding of the entire system to make better design decisions.
  I shape features with foresight well-beyond the interface, as I'm often building all the other parts as well.
</p>
<h4>A few other notes about me:</h4>
<ul>
  <li>
    <strong>I design directly in HTML and CSS.</strong> I don't translate between design and implementation.
  </li>
  <li>
    <strong>I try to bring delight to everything I create.</strong>
    Delightful interfaces, whimsical little touches, memorable interactions, writing that hits. 
    Amidst all the AI-generated, cookie-cutter design being churned out today, it feels like delight is being left behind.
  </li>
  <li>
    <strong>I embrace constraints in all of my work.</strong> I'm a huge fan of No Build. Of plain old HTML, CSS, and Javascript. 
    Of removing all the unnecessary extra that seeps into technology today. 
  </li>
  <li>
    <strong>I love to write.</strong> From books to blog posts, help docs to technical wikis, headline copy to a button label, I love to write.
    I try to be clear, approachable, and empathetic. A sprinkle of humor when it feels right too.
  </li>
</ul>
<p>
  Six months ago, my business partner and I sold DoneDone, a product I'd been shaping for 15 years. I was planning to go
  solo for awhile, but when I saw this job opening, I knew I had to take a shot.
</p>
<!-- <div class="vitals">
  asdfasdf
</div> -->