<% content_for :title, "I take my coffee black." %>
<h2>Hello 37signals!</h2>
<p>
  I'm a husband and father to two wonderful(ly hectic) kids.
  After growing up in and around Chicago, I moved to San Francisco in 2014, where I've worked
  remotely ever since.
</p>
<p>
  For over 25 years, I've been building things for the Web, working almost exclusively within 
  tiny development teams from 3 to just me. I've had to learn a lot about a lot. 
</p>
<p>
  I craft user interfaces from conception to deployment, but I've also maintained large relational databases, 
  built complex server-side systems, and managed production infrastructure too (though I don't love that last part).
</p>
<p>
  As a product designer, I use my understanding of the entire system to make better design decisions.
  I shape features with foresight well-beyond the interface, as I'm often building all the other parts as well.
</p>
<p>
  <strong>I try to bring delight to everything I create.</strong>
  Delightful interfaces, whimsical little touches, memorable interactions, writing that hits. 
  Amidst all the AI-generated, cookie-cutter design being churned out today, it feels like delight is being left behind.
</p>
<h4>A few other notes about me:</h4>
<ul>
  <li>
    <strong>I design directly in HTML and CSS.</strong> I don't translate between design and implementation.
  </li>
  <li>
    <strong>I've picked up Ruby on Rails and Hotwire over the past year.</strong> With my decades-long 
    background in other languages and frameworks (like C# and .NET), I've found the transition
    quite smooth.
  </li>
  <li>
    <strong>I embrace constraints in all of my work.</strong> I'm a huge fan of No Build. Of plain old HTML, CSS, and Javascript. 
    Of removing all the unnecessary extra that seeps into technology today. 
  </li>
  <li>
    <strong>I love to write.</strong> From 
    <%= link_to "books", "https://www.kawaicheung.io/books", target: "_blank" %> to 
    <%= link_to "blog posts", "https://www.kawaicheung.io/essays", target: "_blank" %>, help docs to technical wikis, headline copy to a button label, I love to write.
    I try to be clear, approachable, and empathetic. A sprinkle of humor when it feels right too.
  </li>
</ul>
<p>
  I know this is a unique, highly sought-after role and company, but I think I've got what it takes. 
  It's also a role that feels right for where I am in my career.
</p>