<h2>First, a quick bit about me.</h2>
<p>
  Since the late 1990s, I've created whole products for the Web. 
  I've worked almost exclusively within tiny development teams (as many as 3, as little as just me).
  That's required me to learn a lot about a lot. 
</p>
<p>
  I'm a multi-specialist. I
  craft delightful interfaces from conception to deployment, but I've also maintained large relational databases, 
  built complex server-side systems, and managed production infrastructure too 
  (though I don't love that part).
</p>
<p>
  As a product designer, I use my understanding of the entire system to make better design decisions.
  I shape features with foresight well-beyond the interface (because it's often been me building the other parts as well!)
</p>
<p>
  I've designed directly in HTML and CSS for years. I find a tool like Figma (or Photoshop) gets in the way of my
  design process. 
</p>
<p>
  I try to bring delight to everything I produce.
  Delightful interfaces, whimsical little touches, memorable interactions, writing that hits. 
  Amidst all the AI-generated, cookie-cutter design being churned out today, it feels like delight is being left behind.
</p>
<p>
  I embrace constraints in all of my work. I'm a huge fan of No Build. Of plain old HTML, CSS, and Javascript. 
  Of removing all the unnecessary extra that seeps into technology today. 
</p>
<p>
  From books to blog posts, help docs to technical wikis, headline copy to a button label, I love to write.
  I try to be clear, approachable, and empathetic. A sprinkle of humor when I think it works too.
</p>
<p>
  I'm not someone that job hops every two years. In fact, I just sold a product I'd been working on for 15 years. 
  I'm in things for the long run.
</p>
<div class="vitals">
  <div class="vitals__item">
    <h3>
      I'm a multi-specialist.
    </h3>
    <p>
      
    </p>
  </div>
</div>