<h2>Here&rsquo;s what I will bring to 37signals.</h2>
<p>
  Since the late 1990s, I've created whole products for the Web. 
  I conceptualize, design, and execute in team sizes ranging from 3 to just me.
</p>
<p>
  You would be hiring a multi-specialist. Someone who  
  crafts delightful interfaces from conception to deployment&hellip;but has also maintained large relational databases, 
  built complex internal systems, and managed production infrastructure too 
  (though I don't love that part).
</p>
<p>
  Why does this matter? As a product designer, I'd use my understanding of the entire system to make better design decisions.
  I'd be able to shape features with foresight beyond the scope of this role. 
</p>
<p>
  That doesn't mean I'm into cookie-cutter design and doing the easy thing. I'm someone that cares deeply about delight.
</p>
<p>
  Amidst all the AI-generated synthetic software spit out today, that's what has been left behind.
  Delightful interfaces, whimsical little touches, those memorable interactions. I would bring delight&mdash;in one way 
  or another&mdash;to everything I produce.
</p>
<p>
  I also embrace constraints in all of my work. I'm a huge fan of no-build. Of plain old HTML, CSS, and Javascript. 
  Of removing all the unnecessary extra that seeps into technology today. 
</p>
<p>
  You'd be hiring someone who has written a lot about a lot. I love clear, approchable, empathetic writing. Humor too. 
  I've written everything from full books to getting the idea across on a 160px-wide button. 
</p>
<button class="funny-button">
  Please hire me.
  <span class="subline">
    See?
  </span>
</button>
<p>
  I just sold a product I've been working on for 15 years, so I'm accustomed to chiseling and polishing  
  something big for a long time.
</p>
<p>
  I'm not someone that wants to jump around from one company to another every two years. 
  I'm looking to make long-lasting relationships with people that share the same love of making products.
</p>
<p>
  In the coming pages, I'll demonstrate everything I've just described. 
  But first, I'll explain why this role feels like a perfect fit for me, right now.
</p>
