<h2>Here&rsquo;s what I can bring to 37signals.</h2>
<h3>A multi-specialist (not just a generalist).</h3>
<p>
  Since the late 1990s, I've created whole products for the Web. 
</p>
<p>
  I craft delightful interfaces from conception to deployment. But I've also 
  maintained large relational databases, built complex internal systems, and managed 
  production infrastructure too (though I don't love that part)...all at the same time, for the same product.
</p>
<p>
  Why does this matter? As a product designer, I'd use my understanding of the entire system to make better design decisions.
  I'd be able to shape features with foresight beyond the scope of this role. 
</p>
<h3>Someone that cares deeply about delight.</h3>
<p>
  Delight is a word I used to hear frequently in design circles. That seems to have gone away.
</p>
<p>
  Amidst all the AI-generated synthetic software spit out today, what's being left behind is delight.
  Delightful interfaces, whimsical interactions, those memorable little touches. I would bring delight
  &ndash; in one way or another &ndash; to everything I produce.
</p>
<h3>An embracer of constraints.</h3>
<p>
  I try to do the most with the least. I'm a huge fan of no-build. Of plain old HTML, CSS, and Javascript. 
  Of removing all the unnecessary extra that seeps into technology today. 
</p>
<h3>A voracious writer.</h3>
<p>
  I've written a lot about a lot. I love clear, approchable, empathetic writing. Humor too. 
  I've written everything from full books to getting the idea across on a 160px-wide button. 
</p>
<button class="funny-button">
  Please hire me.
  <span class="subline">
    See?
  </span>
</button>
<h3>A long-hauler, not a job-hopper.</h3>
<p>
  I just sold a product I've been working on for 15 years, so I'm accustomed to chiseling and polishing  
  something big for a long time.
</p>
<p>
  I'm not someone that wants to jump around from one company to another looking for the better deal or 
  quick fix. I'm looking to make long-lasting professional relationships with like-minded people.
</p>
<p>
  In the coming pages, I'll demonstrate everything I've just described. 
  But first, I'll explain why this role feels like a perfect fit for me, right now.
</p>
