<h2>Why I'd love this role.</h2>
<p>
  Six months ago, my business partner and I sold DoneDone, a product I created and wore <strong>all the design and development hats</strong> 
  for&ndash;15 years strong. 
  Since then, I've been <%= link_to "building solo software", "https://kawaicheung.io/software", target: "_blank" %>. 
  But when I saw this job opening, I knew I had to take a shot.
</p>
<p>See, if my career were a Hill Chart, it would look something like this:</p>
<div class="figure-container">
    <figure>
      <%= image_tag "my-hill-chart.png", alt: "Stretching" %>
      <figcaption>
        <span>I've spent years specializing <strong>in a lot</strong>. 
        37signals will allow me to focus on what I love and do my best work.</span>
      </figcaption>
    </figure>
</div>
<p>
  Being a product designer at 37signals would let me focus on all the things I love about creating for the Web,
  within a team of self-managers doing all the other hard, rewarding stuff that I'm glad I did but 
  am ready to leave behind.
</p>
<p>
  <strong>I love to create, more than ever.</strong> I relish the process of going from nothing to something. 
  I love volleying ideas with someone to get to a surprising place. I want to build it, not just design it.
  It's my natural high.
</p>
<p class="note"><strong>BTW:</strong> I’ve been a fan of 37signals since its beginnings. 
  From eNormicom and 37better to Basecamp to Hey!, 
  you’ve made a huge impact on the way I see design, web-based software, writing, and running a business.
</p>
<p> 
  With this kind of focus, in this kind of environment, I think I can produce the best work of my career.
  So, now it's time to show you what I got. Let's go.  
</p>
