<h2>Why I'd love this role.</h2>
<p>
  Six months ago, my business partner and I sold <%= link_to "DoneDone", works_donedone_path %>, 
  a product I created and for which I wore <strong>all the design and development hats</strong> 
  for 15 years. 
  Since then, I've been <%= link_to "building solo software", "https://kawaicheung.io/software", target: "_blank" %>. 
  But when I saw this job opening, I knew I had to take a shot.
</p>
<p>See, if my career were a Hill Chart, it would look something like this:</p>
<div class="figure-container">
    <figure>
      <%= image_tag "my-hill-chart.png", alt: "Stretching" %>
      <figcaption>
        <span><strong>I'm ready to focus in on what I love the most:</strong> Designing and building interfaces while writing beautiful code.</span>
      </figcaption>
    </figure>
</div>
<p>
  I've spent most of my career immersed in all aspects of product development. 
  But, I'm feeling ready to focus on what particularly brings me joy.
</p>
<p>
  What's remained a constant is my love to design and build. 
  I relish the process of starting from nothing and getting to everything. 
  I love riffing on ideas with someone to get to a better, often surprising place. 
  It's my natural high.
</p>
<p>
  As a product designer at 37signals, I could focus on all the things I love about creating for the Web
  (designing interfaces and experiences while writing beautiful code), within a team of self-managing experts doing all the other hard stuff
  I'm glad I once did but am ready to leave behind.
</p>
<p class="note"><strong>I'm not just an applicant, I'm a fan:</strong> I’ve followed 37signals since the very beginning. 
  From eNormicom and 37better to Basecamp to Rework to Hey!, 
  you’ve made a huge impact on the way I see design, web-based software, writing, and running a business.
</p>
<p> 
  With this kind of focus, in this kind of environment, I think I can produce the best work of my career.
  So, now it's time to show you what I got.
</p>
