<%
  # Optional: reversed: true
%>
<% reversed ||= false %>
<nav class="nav-map">
  <ul> 
    <% Constants::NAVIGATION_SECTIONS.each do |section| %>
      <li>
        <%= link_to section[:name], "/#{section[:path]}", class: "#{reversed ? "reversed" : ""} #{request.path.include?(section[:path]) ? "selected" : ""}" %>
      </li>
    <% end %>
  </ul>
</nav>
