<%
%>
<nav class="nav-map">
  <ul> 
    <li>
      <%= link_to "Works", works_path %>
    </li>
    <li>
      <%= link_to "Writing", writing_path %>
    </li>
    <li>
      <%= link_to "Tastes", tastes_path %>
    </li>
  </ul>
</nav>
