<%
  # optional
  # reversed: whether the button colors should be reversed
  # large: whether the button should be large
%>
<% reversed ||= false %>
<% large ||= false %>
<div data-controller="keyboard-nav" data-keyboard-nav-key-value="ArrowRight" data-keyboard-nav-path-value="<%= deduced_next_path %>">
  <% if deduced_next_path %>
    <%= link_to deduced_next_path, class: "nav-btn #{reversed ? "reversed" : ""} #{large ? "large" : ""}" do %>
      <i class="fa fa-arrow-right"></i>
    <% end %>
  <% else %>
    <div class="nav-btn disabled">
      <i class="fa fa-arrow-right"></i>
    </div>
  <% end %>
</div>
