<%
  # optional
  # reversed: whether the button colors should be reversed
%>
<% reversed ||= false %>
<div data-controller="keyboard-nav" data-keyboard-nav-key-value="ArrowLeft" data-keyboard-nav-path-value="<%= deduced_prev_path %>">
  <%= link_to deduced_prev_path, class: "nav-btn #{reversed ? "reversed" : ""}" do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
</div>
