<%
  # optional
  # reversed: passed to buttons and keyboard instructions
%>
<% reversed ||= false %>
<div class="remote-control">
  <div class="nav-btn-container">
    <% if deduced_prev_path %>
      <%= render "shared/prev_button", reversed: reversed %>
    <% end %>
  <% if deduced_next_path %>
    <%= render "shared/next_button", reversed: reversed %>
  <% else %>
      <%= render "shared/next_button", path: nil %>
    <% end %>
  </div>
  <div class="keyboard-instructions <%= reversed ? "reversed" : "" %>">
    Or use
      <span class="key">&larr;</span>
      <span class="key">&rarr;</span> keys
  </div>
</div>
