<div class="nav-btns">
  <% if deduced_prev_path %>
    <%= render "prev_button", path: deduced_prev_path %>
  <% end %>
  <% if deduced_next_path %>
    <%= render "next_button", path: deduced_next_path %>
  <% else %>
    <%= render "next_button", path: nil %>
  <% end %>
</div>
