<h2>The philosophy of embracing constraints is something that weaves throughout my work.</h2>
<p>
  Let me show you an example. For DoneDone, I spent about a month developing an easy way to
  help folks auto-forward their Gmail address into their DoneDone account. 
</p>
<p>
  Let me show you an example. For DoneDone, I spent about a month developing an easy way to
  help folks auto-forward their Gmail address into their DoneDone account. 
</p>
<p>
  Let me show you an example. For DoneDone, I spent about a month developing an easy way to
  help folks auto-forward their Gmail address into their DoneDone account. 
</p>
<p>
  Let me show you an example. For DoneDone, I spent about a month developing an easy way to
  help folks auto-forward their Gmail address into their DoneDone account. 
</p>
<p>
  Let me show you an example. For DoneDone, I spent about a month developing an easy way to
  help folks auto-forward their Gmail address into their DoneDone account. 
</p>
<p>
  Let me show you an example. For DoneDone, I spent about a month developing an easy way to
  help folks auto-forward their Gmail address into their DoneDone account. 
</p>
<%= render "nav_buttons", prev_path: what_path, next_path: stretching_path %>
</div>
