<div class="hello-sticker">
  <div class="hello">
    <span>Hello</span>
    <!-- Pulled from https://37signals.com/assets/images/logo.svg.  -->
    <%= image_tag "37signals-logo.svg", alt: "37signals", height: 48 %>
  </div>
  <div class="my-name">My name is</div>
  <h1>Ka Wai Cheung<span class="pronunciation">"Kuh-Way" is my first name.</span></h1>
</div>
<h2>And I&rsquo;d love to be your next <span class="no-break">product designer</span>.</h2>
<h3>
  So I built this little site to help explain why. (Yep it's Rails + Hotwire.)
</h3>
<%= render "shared/next_button", path: deduced_next_path, large: true %>

