<div class="hello-sticker">
  <div class="hello">Hello</div>
  <div class="my-name">My name is</div>
  <h1>Ka Wai Cheung<span class="pronunciation">Pronounced "Kuh-Way"</span></h1>
</div>
<h2>I&rsquo;d love to be the next <span class="no-break">product designer</span> at 37signals.</h2>
<p>
  I built this little site to help explain why.
</p>
<%=%>

