<% content_for :title, "Hey 37signals!" %>
<%= link_to "#{deduced_next_path}", target: "_blank", class: "hello-sticker" do %>
  <div class="hello">
    <span>Hello</span>
    <!-- Pulled from https://37signals.com/assets/images/logo.svg.  -->
    <%= image_tag "37signals-logo.svg", alt: "37signals", height: 48 %>
  </div>
  <div class="my-name">My name is</div>
  <h1>Ka Wai Cheung<span class="pronunciation">Pronounced "Kuh-Way"</span></h1>
  <%= image_tag "kc.png", alt: "Ka Wai Cheung", class: "me" %>  
<% end %>
<h2>And I&rsquo;d love to be your next <span class="no-break">product designer</span>.</h2>
<h3>
  I made this little site to show you why. (It's Rails and a dash of Stimulus)
</h3>
<div class="mobile-right">
  <%= render "shared/next_button", path: deduced_next_path, large: true %>
</div>

