<h2>Since the late 1990s, I've been building whole products on the Web.</h2>
<p>
  I conceptualize. I design. I work on all layers of the stack from the front-end to the database.
  I've managed production infrastructure too (though I don't much like that part).
</p>
<p>
  In fact, for the past 15 years, I worked solely on one pretty large web-based product called DoneDone. 
  It's a task management and shared inbox tool I created in 2008 and.
  The build team was never more than 3 people, and for the past six years, it was, well, just me and my business partner. More on all of this later.
</p>
<p>
  We sold DoneDone in September of 2024.
</p>
<p>
  I think I can be a great teammate.
</p>
<div class="job-quote">
  We’re looking for a designer, not a decorator. A product builder, not a picture maker. A shipper, not a prototyper. 
  There’s plenty of the latter, but we’re after the former.
</div>
<p>
  Let me show you an example. For DoneDone, I spent about a month developing an easy way to
  help folks auto-forward their Gmail address into their DoneDone account. 
</p>
<p>
  Let me show you an example. For DoneDone, I spent about a month developing an easy way to
  help folks auto-forward their Gmail address into their DoneDone account. 
</p>
<p>
  Let me show you an example. For DoneDone, I spent about a month developing an easy way to
  help folks auto-forward their Gmail address into their DoneDone account. 
</p>
<p>
  Let me show you an example. For DoneDone, I spent about a month developing an easy way to
  help folks auto-forward their Gmail address into their DoneDone account. 
</p>
<p>
  Let me show you an example. For DoneDone, I spent about a month developing an easy way to
  help folks auto-forward their Gmail address into their DoneDone account. 
</p>
<p>
  Let me show you an example. For DoneDone, I spent about a month developing an easy way to
  help folks auto-forward their Gmail address into their DoneDone account. 
</p>

</div>
