<h2>I love to make the annoying bits better.</h2>

<p>
  Let me show you an example. For DoneDone, I spent about a month developing an easy way to
  help folks auto-forward their Gmail address into their DoneDone account. 
</p>
<p>
  Let me show you an example. For DoneDone, I spent about a month developing an easy way to
  help folks auto-forward their Gmail address into their DoneDone account. 
</p>
<p>
  Let me show you an example. For DoneDone, I spent about a month developing an easy way to
  help folks auto-forward their Gmail address into their DoneDone account. 
</p>
<p>
  Let me show you an example. For DoneDone, I spent about a month developing an easy way to
  help folks auto-forward their Gmail address into their DoneDone account. 
</p>
<p>
  Let me show you an example. For DoneDone, I spent about a month developing an easy way to
  help folks auto-forward their Gmail address into their DoneDone account. 
</p>
<p>
  Let me show you an example. For DoneDone, I spent about a month developing an easy way to
  help folks auto-forward their Gmail address into their DoneDone account. 
</p>
<%= render "nav_buttons" %>
</div>
