<h2>What I can bring to 37signals.</h2>
<p>
  Hey 37signals! Since the late 1990s, I've created whole products for the Web. 
  I conceptualize, design, and execute with teams of 3 to just me.
</p>
<p>
  You would be hiring a multi-specialist. Someone who  
  crafts delightful interfaces from conception to deployment&hellip;but has also maintained large relational databases, 
  built complex internal systems, and managed production infrastructure too 
  (though I don't love that part).
</p>
<p>
  Why does this matter? As a product designer, I'd use my understanding of the entire system to make better design decisions.
  I'd be able to shape features with foresight beyond the scope of this role. 
</p>
<p>
  That doesn't mean I'm into cookie-cutter design and doing the easy thing. 
</p>
<p>
  Amidst all the AI-generated synthetic software spit out today, what's being left behind is delight.
  Delightful interfaces, memorable interactions, those whimsical little touches. I would bring delight, in one way 
  or another, to everything I produce.
</p>
<p>
  I also embrace constraints in all of my work. I'm a huge fan of no-build. Of plain old HTML, CSS, and Javascript. 
  Of removing all the unnecessary extra that seeps into technology today. 
</p>
<p>
  You'd be hiring someone who has written a lot about a lot. I love clear, approchable, empathetic writing. Humor too. 
  I've written everything from full books to getting the idea across on a 160px-wide button. 
</p>
<button class="funny-button">
  Please hire me.
</button>
<p>
  In the coming pages, I'll demonstrate everything I've just described. 
  But first, I'll explain why this role feels like a perfect fit for me, right now.
</p>
<%= render "shared/next_button", path: deduced_next_path, large: true %>
