<h2>What I can bring to 37signals.</h2>
<p>
  Since the late 1990s, I've been creating whole products on the Web in teams ranging
  from a few to just me. 
  I conceptualize. I design. I execute. 
</p>
<p>
  I've worked on all layers of the stack.
  I've managed production infrastructure too (though I don't love that part).
</p>
<p>
  You wouldn't be hiring a generalist&mdash;you'd be hiring a multi-specialist. Someone who  
  crafts delightful interfaces from conception to deployment&hellip;but has also modeled relational databases, 
  written well-organized server-side code, and built complex internal systems. 
</p>
<p>
  As a product designer, I'd use my knowledge of the entire system to make better design decisions,
  so features can be shaped with minimal risk of show-stopping surprises during a development cycle.
</p>
<p>
  Embracing constraints is a philosophy I live and breathe. I'm a huge fan of no build. Of plain old HTML, CSS, and JS. 
  Of removing all the unnecessary <span class="zany-text">extra tech</span>. Of black coffee no room.
</p>
<p>
  You'd be hiring someone who loves clear written communication but also believes that writing isn't just about terseness.
  There's empathy, humor, and approachability too. I write so people enjoy.
</p>
<p>
  I bootstrapped my own consulting and product company called We Are Mammoth a long while back. It grew to nearly 30 people and
  went fully remote in 2014, so I know what it's like to work with a team that's fully remote.
</p>

