<h2>Why I'd love the role of <span class="no-break">product designer</span>.</h2>

<h3>Simply put, this would be the highlight of my career.</h3>
<p>
  I’ve been a fan of 37signals since the very beginning. From eNormicom and 37better to Basecamp to Hey!, 
  you’ve made a huge impact on the way I see design, web-based software, writing, and running a business. 
</p>
<p>
  Not many people can work for a company they've admired since their college days.
  To say that I played a part in the 37signals story would be the highlight of my career.
</p>
<h3>It would let me focus on what I'm most passionate about.</h3>
<p> 
  Since my mid-20s, I've equated work with &ldquo;building a business&rdquo; or 
  &ldquo;building a product&rdquo;.
</p>
<p>
  At 27, I co-founded a web consulting company called We Are Mammoth,
  steering design and leading the dev team for 11 years. For the next seven, I would work solely on a SaaS product called DoneDone.
  My business partner and I sold it last fall.
</p>
<p>
  But over the past few months, I've come to a realization. <strong>I've had my fill of Hail Marys and lottery tickets.</strong> 
  Of the stress of trying to grow a product while making sure what's there still runs smoothly. 
  Maybe that's mid-40s me with two wonderful(ly hectic) kids speaking. 
</p>
<p>
  <strong>But I still love to create as much as ever.</strong> I relish taking a nascent idea and bringing it to life.
  I crave the process of going from nothing to something. I love volleying ideas with someone to get to a surprising place.
  It gets me up in the morning. It's my natural high.
</p>
<div class="figure-container smaller">
    <figure>
      <%= image_tag "my-hill-chart.png", alt: "Stretching" %>
      <figcaption>My career arc as a Hill Chart. I'm ready to execute on what I love to do most.</figcaption>
    </figure>
</div>
<p>
  This position would let me focus on all the things I love about creating for the Web,
  within an expert team that's doing all the other hard, rewarding stuff that I'm glad I did but am ready to leave behind.
</p>
<p> 
  With this kind of focus, and in this kind of environment, I think I can produce the best work of my career.
</p>
<p>
  So, now it's time to show you what I got. Let's go.  
</p>