<h2>Alluding to non-internet-y things can make a product more memorable.</h2>
<p>
  It seems like we designers go through cycles of standardization all the time. When mobile-first was the new thing,
  all site designs started to look the same. Then sites got really flat. With AI, you can tell when a site's just
  been churned out with the default Tailwind styles.
</p>
<p>
  I miss the whimsy. The tongue-in-cheek stuff. The cheesy metaphors. Just having some <em>fun</em> with design.
</p>
<div class="figure-container smaller">
  <figure>
    <%= image_tag "early-better-dns.png", alt: "Stretching" %>
    <figcaption>Or, everything you do ends up kind of feeling like you? It's that feeling of a band past its prime churning out what sounds like them. The innovation is gone.</figcaption>
  </figure>
</div>

<div class="figure-container">
  <figure>
    <%= image_tag "dnsdigest-mx.png", alt: "Stretching" %>
    <figcaption>Or, everything you do ends up kind of feeling like you? It's that feeling of a band past its prime churning out what sounds like them. The innovation is gone.</figcaption>
  </figure>
  <figure>
    <%= image_tag "dnsdigest-mappings.png", alt: "Stretching" %>
    <figcaption>Or, everything you do ends up kind of feeling like you? It's that feeling of a band past its prime churning out what sounds like them. The innovation is gone.</figcaption>
  </figure>
</div>


<div class="figure-container smaller">
  <figure>
    <%= image_tag "dd-pinboard.png", alt: "Stretching" %>
    <figcaption>Or, everything you do ends up kind of feeling like you? It's that feeling of a band past its prime churning out what sounds like them. The innovation is gone.</figcaption>
  </figure>
</div>
