<h2>My current approach to CSS.</h2>
<p>
  Don't like tailwind bootstrap style. Like the idea of a 'table of contents'. in my short work with rails and the no build philo,
  loving the organizational ease of grouping things into a componetns directory for reusable things (that map one to one with partials typiacclly)
  having a main css file for common layout stuff (per layout) and one off page-to-page css for one off stuff. easy to move things around 
  and reorganize when patterns appear. Thihs is just what has felt natrual to me in the handful of montsh I've worked with Rails.
</p>
<%= render "shared/nav_buttons" %>
</div>
