.figure-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;

  &.smaller {
    width: 75%;
  }
}

figure {
  padding: 1.8rem;
  border: var(--border--gray--light);
  border-radius: var(--border-radius--rectanglish);
  box-shadow: var(--box-shadow--figure);

  img {
    border-radius: var(--border-radius--rectanglish);
    border: var(--border--gray--light);
  }
}

figcaption {
  text-align: center;
  padding: 1rem 1rem 0 0;
  font-size: 1.2rem;
  color: var(--color--black);
  font-weight: 500;
  font-family: var(--font-family--serif);
}
