.figure-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &.smaller {
    width: var(--width--content);

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &.smallest {
    width: calc(var(--width--content) * .8);

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &:has(.video-container) {
    figure {
      background-color: var(--color--black);
      border-color: var(--color--gray--semi);
      border-radius: var(--border-radius--rounded);

      figcaption {
        color: var(--color--white);

        a {
          color: var(--color--white);
        }
      }
    }
  }

  & + h3 {
    margin-top: 1.6rem;
  }

  &.two-by-one {
    display: grid;
    grid-template-columns: 2.57fr 1fr;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &.three-fan {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    figure {
      &:first-child {
        rotate: -5deg;
        transform: translateY(15px);
      }

      &:last-child {
        rotate: 5deg;
        transform: translateY(15px);
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;

      figure {
        &:first-child {
          rotate: 0deg;
          transform: translateY(0);
        }

        &:last-child {
          rotate: 0deg;
          transform: translateY(0);
        }
      }
    }
  }
}

figure {
  width: 100%;
  padding: var(--padding--module);
  border: var(--border--gray--light);
  border-radius: var(--border-radius--rectanglish);
  box-shadow: var(--box-shadow--figure);
  background-color: var(--color--white);

  @media (max-width: 768px) {
    padding: var(--padding--module--mobile);
  }

  img {
    border: var(--border--gray--light);
  }

  video {
    border-radius: var(--border-radius--rounded-inseam);
    border: var(--border--gray--light);
  }

  a.video-thumbnail,
  a.link-thumbnail {
    position: relative;
    display: block;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: var(--color--black);
      opacity: 0;
      transition: opacity 0.2s ease;
      border-radius: var(--border-radius--rounded-inseam);
    }

    &::after {
      content: '▶';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 4rem;
      color: var(--color--white);
      opacity: 0;
      transition: opacity 0.2s ease;
    }

    &:hover {
      &::before {
        opacity: 0.2;
      }
      
      &::after {
        opacity: 1;
      }
    }
  }
}

a.link-thumbnail {
  &::after {
    content: '→' !important;
  }
}

figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 0 0 0;
  font-size: 0.9rem;
  color: var(--color--black);
  font-weight: 400;
  font-family: var(--font-family--sans-serif);
  letter-spacing: -0.01rem;

  .code, .dns-label {
    font-size: 0.8rem;
  }
}
