.header-pin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color--theme);
  color: var(--color--white);
  width: 6rem;
  height: 6rem;
  border: var(--border--purple);
  border-radius: var(--border-radius--circular);
  font-family: var(--font-family--handwriting);
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 200;
  box-shadow: var(--box-shadow--sticker);
  rotate: -8deg;
  border: var(--border--sticker);
  border-width: 2px;
  text-decoration: none;
  transition: all 0.12s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }

  @media (max-width: 768px) {
    width: 4rem;
    height: 4rem;
    font-size: 0.8rem;
  }
}
