.nav-map {
  width: auto;

  ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      position: relative;
      z-index: 1;

      a {
        font-size: 1.4rem;
        font-family: var(--font-family--display);
        font-weight: 600;
        color: var(--color--black);
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
      }
    }
  }
}
