.slider-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--margin-bottom--content);

  .slides {
    position: relative;
    overflow: hidden;

    > * {
      display: none;
      
      &.active {
        display: block;
        animation: fadeInSwipe 0.3s ease-in-out;
      }
    }
  }

  .slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color--black);
    background-color: var(--color--white);
    border: var(--border--gray);
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.1s ease;
    z-index: var(--z-index--slider-nav);

    @media (max-width: 1024px) {
      display: none;
    }
    
    &.prev {
      left: 1rem;
      &:hover {
        transform: translateX(-2px) translateY(-50%);
      }
    }
    
    &.next {
      right: 1rem;

      &:hover {
        transform: translateX(2px) translateY(-50%);
      }
    }
  }

  .slider-dots {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .slider-dot {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background: var(--color--gray--semi);
      border: none;
      padding: 0;
      cursor: pointer;
      transition: transform 0.8s ease;
      
      &.active {
        background: var(--color--black);
        transform: scale(1.5);
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@keyframes fadeInSwipe {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}