<h2>Thanks!</h2>
<p>
  Best of luck with the hiring process.
</p>
<%= image_tag "kc.png", alt: "Ka Wai Cheung", class: "circular" %>  

<div class="fake-paywall-container">
  <div class="message-container">
    <div class="message">
      <h3>You&rsquo;ve reached the end of my free pitch.</h3>
      <p>
        Gain access to 40 productive hours a week, a friendly teammate, and 
        absolutely <span class="no-break"><strong>no cheesy design ideas</strong></span> 
        like this one.
      </p>
      <div class="contact-form"> 
        <div class="form-group">
          <label for="email">Name</label>
          <input type="text" placeholder="Email" value="Ka Wai Cheung" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" placeholder="Email" value="kiwigod17@gmail.com" />
        </div>
        <div class="form-group">
          <label for="tel">Tel</label>
          <input type="text" placeholder="Tel" value="847-414-1216" />
        </div>
      </div>
      <div class="links">
        <%= link_to "https://kawaicheung.io", target: "_blank" do %>
          <span>My personal site in case you haven't had enough. <i class="fa-solid fa-external-link"></i></span>
        <% end %>
      </div>
    </div>
  </div>
</div>