/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./components
 *= require_tree ./pitch
 *= require_tree ./slide
 *= require_self
 */

body {
  background-color: var(--color--white);
  color: var(--color--black);
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 2rem 0 2rem;
  z-index: var(--z-index--header);

  @media (max-width: 768px) {
    padding: 1rem 2rem 4rem 2rem;
    background: linear-gradient(to bottom, var(--color--white) 50%, transparent 100%);
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  position: relative;
  max-width: var(--width--article);
  margin-top: 2rem;
  margin-bottom: 10rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1024px) {
    padding: 0 2rem;
    margin-top: 8.5rem;
    margin-bottom: 4rem;
    width: 100%;
    max-width: 100%;
  }
  
  h2 {
    font-family: var(--font-family--display);
    text-align: center;
    max-width: 1000px;
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 300;
    letter-spacing: -0.1rem;
    margin-bottom: 3rem;

    strong {
      font-weight: 600;
    }

    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }

  h2 + h3 {
    margin-top: -2rem;
  }

  h3 {
    width: var(--width--content);
    font-family: var(--font-family--display);
    font-size: 2.2rem;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: -0.05rem;
    margin-bottom: 1rem;

    strong {
      font-weight: 600;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  h4 {
    width: var(--width--content);
    font-family: var(--font-family--display);
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    letter-spacing: -0.02rem;
    line-height: 1;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  p {
    width: var(--width--content);
    font-size: var(--font-size--content);
    line-height: 1.4;
    font-family: var(--font-family--serif);
    margin-bottom: var(--margin-bottom--content);

    &.note {
      font-size: 1rem;
      font-family: var(--font-family--sans-serif);
      padding: var(--padding--module);
      border-radius: 1rem;
      background-color: var(--color--theme--light);
    }

    @media (max-width: 768px) {
      width: 100%;
      font-size: var(--font-size--content--mobile);
    }
  }

  h4 + ul {
    margin-top: 1.6rem;
  }

  ul, ol {
    font-family: var(--font-family--serif);
    font-size: var(--font-size--content);
    width: var(--width--content);
    margin-bottom: var(--margin-bottom--content);
    margin-left: 0;
    padding-left: 1rem;

    li {
      margin-bottom: 1rem;
    }

    @media (max-width: 768px) {
      width: 100%;
      font-size: var(--font-size--content--mobile);
    }

    &.headlines {
      li {
        margin-bottom: 0.5rem;
        font-family: var(--font-family--display);
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.2;
      }
    }
  }

  hr {
    width: 100%;
    border: 0;
    height: 4px;
    background-color: var(--color--theme);
    border-radius: var(--border-radius--rounded);
    margin: 2rem 0 4rem 0;
  }
}


