/*
 *= require basecamp_vars
 *= require_tree ./basecamp
 *= require_self
 */

body {
  background-color: var(--color--body);
  color: var(--color--ink);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Top bar */
.top-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--height--top-bar);
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0.5rem;
  margin-bottom: 2rem;
}

.top-bar__logo {
  width: 128.5px;
}

/* Nav always coupled with ul here... */
.top-bar__nav ul { 
  position: absolute;
  top: 0.5rem;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  padding: 0;
  margin: 0;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 15px;
  list-style: none;

  @media (max-width: 1024px) {
    display: none;
  }
}

.top-bar__nav-item {
  white-space: nowrap;
}

.top-bar__link {
  display: flex;
  gap: 0.2rem;
  color: var(--color--ink);
  text-decoration: none;

  svg {
    width: var(--size--nav-icon);
    min-width: var(--size--nav-icon);
    max-width: var(--size--nav-icon);
  }
}

.top-bar__user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--size--avatar);
  width: var(--size--avatar);
  border-radius: var(--border-radius--circular);
  background-color: var(--color--blue);
  color: var(--color--white);
  font-weight: 600;
  font-size: 0.9rem;
}

/* Page header (CTA buttons and greeting) */
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--width--section);
  margin-bottom: 1rem;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__date {
  margin-top: 1.2rem;
  font-weight: 600;
}

.header__greeting  {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.02rem;

  strong {
    font-weight: 700;
  }
}

/* Project dropdown */
.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--width--projects);
}

.projects__expander {
  z-index: var(--z-index--projects-expander);
  background-color: transparent;
  height: var(--height--projects-expander);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius--lg);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: var(--border-width--lg) solid var(--color--border);
  border-bottom: none;
  color: var(--color--ink);
  font-weight: 700;
  cursor: pointer;

  &:hover:not(.projects__expander--selected) {
    background-color: var(--color--white);
  }
}

.projects__expander--selected {
  border-color: var(--color--bg-sand);
  background-color: var(--color--white);
}

.projects__listing {
  position: absolute;
  width: 100%;
  z-index: var(--z-index--projects-listing);
  /* Cover the border of the expander */
  top: calc(var(--height--projects-expander) - var(--border-width--lg));
  max-height: clamp(200px, 50vh, 400px);
  overflow-y: scroll;
  background-color: var(--color--white);
  border-radius: var(--border-radius--lg);
  border: var(--border-width--lg) solid var(--color--bg-sand);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  list-style: none;
  scrollbar-width: none; 
  -ms-overflow-style: none; 

  &::-webkit-scrollbar {
    display: none; 
  }
}

.projects__listing-divider {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
  font-weight: 600;

  span {
    padding: 0.1rem 0.4rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: var(--border-radius--sm);
    color: var(--color--white);
    background-color: var(--color--bg-sand);
  }

  &::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: var(--color--border);
  }
}

.projects__listing-divider--stack {
  span {
    font-size: 1.1rem;
    background-color: transparent;
    color: var(--color--ink);
    text-transform: none;
  }
}

.projects__listing-group {
  padding: 0.5rem;
  margin: 0;
}

.projects__listing-item {
  position: relative;
  text-decoration: none;
  display: block;
  color: var(--color--ink);
  font-weight: 600;
  width: 100%;
}

.projects__listing-item--pinned {
  &::before {
    content: "📌";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.9rem;
  }
}

.projects__listing-link {
  display: block;
  text-decoration: none;
  color: var(--color--ink);
  width: 100%;
  padding: 0.25rem 0.5rem;
  border: solid 1px transparent;
  border-radius: var(--border-radius--sm);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    background-color: var(--color--yellow-20);
  }
}

/* Briefcase */
.briefcase {
  position: relative;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1.8fr 1fr;
  width: var(--width--section);
  background-color: var(--color--white);
  border-radius: var(--border-radius--lg);
  border: var(--border-width--lg) solid var(--color--border);
  padding: 1.6rem 2rem 4rem 2rem;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    padding: 1.6rem 1rem 4rem 1rem;
  }
}

.briefcase__stickers {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: clamp(300px, 100%, 68rem);
  display: flex;
  justify-content: space-between;

  @media (max-width: 1024px) {
    position: relative;
    transform: none;
    top: 0;
    left: 0;
  }
}

.briefcase__sticker {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background-color: var(--color--bg-sand);
  color: var(--color--white);
  border-radius: var(--border-radius--lg);
  border: 1px solid var(--color--border);
  font-size: 1.4rem;
  box-shadow: var(--box-shadow--sticker);
  cursor: pointer;

  @media (max-width: 800px) {
    width: 52px;  
    height: 52px;
  }

  &:hover {
    animation: bounce 0.1s ease-in-out forwards;
  }
}

.briefcase__sticker-badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  color: var(--color--white);
  border-radius: var(--border-radius--sm);
  padding: 0.1rem 0.3rem;
  font-size: 0.9rem;
  font-weight: 900;
  min-width: 20px;

  @media (max-width: 800px) {
    font-size: 0.8rem;
  }
}

.briefcase__sticker--tasks {
  background-color: var(--color--blue-50);
  left: 20px;
  top: -46px;
  rotate: -6deg;
}

.briefcase__sticker--cards {
  background-color: var(--color--orange-50);
  left: 100px;
  top: -80px;
  rotate: -2deg;
}

.briefcase__sticker--events {
  background-color: var(--color--yellow-50);
  left: 180px;
  top: -18px;
  rotate: 7deg;
}

.briefcase__sticker--check-ins {
  background-color: var(--color--purple-50);
  right: 180px;
  top: -28px;
  rotate: -3deg;
}

.briefcase__sticker--time {
  background-color: var(--color--green-50);
  right: 100px;
  top: -50px;
  rotate: -1deg;
}

.briefcase__sticker--boosts {
  background-color: var(--color--red-50);
  right: 20px;
  top: -18px;
  rotate: -5deg;
}

@media (max-width: 800px) {
  .briefcase__sticker[class*="briefcase__sticker--"] {
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    right: 0;
    rotate: 0deg;
  }
}

.briefcase__heading {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 600;

  span {
    background-color: var(--color--bg-sand);
    color: var(--color--white);
    padding: 0.1rem 0.8rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 800;
    border-radius: var(--border-radius--sm);

  }

  &::before,
  &::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: var(--color--border);
  }
}

.briefcase__heading-icon {
  position: absolute;
  width: var(--size--briefcase-icon);
  height: var(--size--briefcase-icon);
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
}

.briefcase__description {
  text-align: center;
  font-size: 1.1rem;
  color: var(--color--gray);
  margin-bottom: 1rem;
}

.briefcase__heading + .briefcase__description {
  margin-top: -0.5rem;
}

.briefcase__section {
  border: 1px solid transparent;
  border-radius: var(--border-radius--lg);
  padding: 0rem 1rem 1rem 1rem;
  height: fit-content;
}

.briefcase__section--em {
  border-color: var(--color--border);
  box-shadow: var(--box-shadow);

  @media (max-width: 1024px) {
    border-color: transparent;
    box-shadow: none;
  }
}

.briefcase__post-it {
  font-size: 0.8rem;
  font-weight: 600;
  background-color: var(--color--dark-blue);
  color: var(--color--white);
  padding: 0.1rem 0.5rem;
  width: fit-content;
  border-radius: var(--border-radius--xs);
  transform: translateX(-8px);
}

.briefcase__task + .briefcase__post-it {
  margin-top: 0.5rem;
}

.briefcase__items {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.briefcase__task {
  padding: 0.75rem 1rem 0.75rem 0;
  display: grid;
  grid-template-columns: 40px 1fr 50px;
  gap: 0.6rem;
  border-bottom: 1px solid var(--color--border);
}

.briefcase__task--reminder {
  padding: 0.7rem 0.7rem 0.7rem 0;
  grid-template-columns: 40px 1fr;
}

.briefcase__task-icon {
  border: 1px solid var(--color--border);
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius--circular);
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 1.2rem;
    color: var(--color--ink);
  }
}

.briefcase__task-content {
  span {
    display: block;
    font-weight: 500;
    line-height: 1.2;
  }

  p {
    color: #666;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    strong {
      font-weight: 600;
    }
  }
}

.briefcase__task-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.briefcase__item {
  padding: 1rem;
  border-radius: var(--border-radius--sm);
  border: 1px solid var(--color--border);
}

.briefcase__item--sm {
  padding: 0.5rem;
  font-size: 0.9rem;
}

.briefcase__links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }
}

/* Thought */
.thought {
  z-index: var(--z-index--thought);
  position: relative;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color--pink-70);
  width: fit-content;
  max-width: 80%;
  position: relative;
  rotate: -1deg;
  background-color: var(--color--yellow-30);
  transform: translateY(-20px);
  border-radius: var(--border-radius--lg);
  border: 1px solid var(--color--bg-sand);
}

.thought__header {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color--white);
  background-color: var(--color--ink);
  padding: 0.2rem 0.8rem;
  border-radius: var(--border-radius--sm);
}

.thought__title {
  font-weight: 600;
  letter-spacing: -0.02em;
}

.thought__subtitle {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--color--dark-gray);
}

/* Zero states */
.zero-state {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  border: var(--border-width--lg) dashed var(--color--yellow-30);
  border-radius: var(--border-radius--lg);
  padding: 1.4rem;
  margin-top: 2rem;
  text-align: center;
  color: var(--color--dark-gray);
}

.zero-state--dont-forget {
  height: var(--size--zero-state);
  width: var(--size--zero-state);
  border-radius: var(--border-radius--circular);
}

/* Remote control */
.remote-control {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background-color: var(--color--white);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius--lg);
  border: 1px solid var(--color--border);
  box-shadow: var(--box-shadow);
  background-color: var(--color--ink);
  z-index: var(--z-index--remote-control);
  color: var(--color--white);
}

.remote-control__link {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--color--white);
}

/* Ghost callout */
.ghost-callout {
  padding: 4rem;
  border-radius: var(--border-radius--lg);
  border: var(--border-width--lg) dashed var(--color--border);
  width: var(--width--section);
  border-radius: var(--border-radius--lg);
  margin-bottom: 4rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color--bg-sand);
}

/* Animations */
@keyframes bounce {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}
