/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./basecamp
 *= require_self
 */

body {
  background-color: var(--color--body);
  color: var(--color--ink);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-nav {
  width: 100%;
  padding: 0.5rem;
  height: 40px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .logo {
    width: 128.5px;
  }
}

.top-nav__link-items { 
  position: absolute;
  top: 0.5rem;
  left: 50%;
  font-weight: 700;
  font-size: 15px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 1.6rem;
  padding: 0;
  margin: 0;
}

.top-nav__link-item {
  white-space: nowrap;
}

.top-nav__link {
  display: flex;
  gap: 0.2rem;
  color: var(--color--ink);
  text-decoration: none;
}

.top-nav__link svg {
  width: 20px;
}

.top-nav__user {
  width: 36px;
  height: 36px;
  border-radius: var(--border-radius--circular);
  background-color: var(--color--blue);
  color: var(--color--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 68em;
  margin-bottom: 1rem;
  position: relative;
}


.header__logo {
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  height: 48px;
  cursor: pointer;
}

.header__greeting  {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.02rem;

  strong {
    font-weight: 700;
  }
}

.header__cta-btns {
  display: flex;
  gap: 0.5rem;
}

.header__cta-btn {
  background-color: var(--color--green-60);
  color: var(--color--white);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.briefcase {
  position: relative;
  width: 68em; 
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  gap: 2rem;
  background-color: var(--color--white);
  border-radius: var(--border-radius--lg);
  border: 1px solid var(--color--border);
  padding: 1.6rem 2rem 2rem 2rem;
  box-shadow: var(--box-shadow);
}

.briefcase__stickers {
  position: absolute;
  top: -28px;
  left: 0;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.briefcase__sticker {
  position: absolute;
  width: 64px;
  height: 64px;
  background-color: var(--color--bg-sand);
  color: var(--color--white);
  border-radius: var(--border-radius--lg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  box-shadow: var(--box-shadow--sticker);
  cursor: pointer;
  
}

.briefcase__sticker:hover {
  animation: bounce 0.1s ease-in-out forwards;
}

@keyframes bounce {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

.briefcase__sticker-badge {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--color--white);
  border-radius: var(--border-radius--sm);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 0.3rem;
  font-size: 0.9rem;
  font-weight: 900;
  min-width: 20px;
}

.briefcase__sticker--tasks {
  background-color: var(--color--blue-50);
  left: 20px;
  top: -46px;
  rotate: -6deg;
}

.briefcase__sticker--cards {
  background-color: var(--color--orange-50);
  left: 100px;
  top: -80px;
  rotate: -2deg;
}

.briefcase__sticker--events {
  background-color: var(--color--yellow-50);
  left: 180px;
  top: -18px;
  rotate: 7deg;
}

.briefcase__sticker--check-ins {
  background-color: var(--color--purple-50);
  right: 180px;
  top: -28px;
  rotate: -3deg;
}

.briefcase__sticker--time {
  background-color: var(--color--green-50);
  right: 100px;
  top: -50px;
  rotate: -1deg;
}

.briefcase__sticker--boosts {
  background-color: var(--color--red-50);
  right: 20px;
  top: -18px;
  rotate: -5deg;
}

.briefcase__heading {
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
  margin: 1rem 0;

  span {
    background-color: var(--color--bg-sand);
    color: var(--color--white);
    padding: 0.1rem 0.8rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 800;
    border-radius: var(--border-radius--sm);

  }

  &::before,
  &::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: var(--color--border);
  }
}

.briefcase__heading-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
}

.briefcase__description {
  text-align: center;
  font-size: 1.1rem;
  color: var(--color--gray);
}

.briefcase__description--sm {
  font-size: 0.9rem;
}

.briefcase__heading + .briefcase__description {
  margin-top: -0.5rem;
}

.briefcase__task + .briefcase__post-it {
  margin-top: 0.5rem;
}

.briefcase__post-it {
  font-size: 0.8rem;
  font-weight: 600;
  background-color: var(--color--dark-blue);
  color: var(--color--white);
  padding: 0.1rem 0.4rem;
  width: fit-content;
  rotate: -2deg;
  border-radius: var(--border-radius--xs);
  transform: translateX(-8px);
}

.briefcase__items {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.briefcase__task {
  padding: 1rem 1rem 1rem 0;
  display: grid;
  grid-template-columns: 40px 1fr 50px;
  gap: 0.6rem;
  border-bottom: 1px solid var(--color--border);
}

.briefcase__task-icon {
  border: 1px solid var(--color--border);
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius--circular);
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 1.2rem;
    color: var(--color--ink);
  }
}

.briefcase__task-content {
  span {
    font-weight: 500;
  }

  p {
    color: #666;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    strong {
      font-weight: 600;
    }
  }
}

.briefcase__task-actions {
  font-size: 0.8rem;
}

.briefcase__task-actions--calendar {
  color: var(--color--blue);
  background-color: var(--color--blue-30);
  border-radius: var(--border-radius--circular);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.briefcase__item {
  padding: 1rem;
  border-radius: var(--border-radius--sm);
  border: 1px solid var(--color--border);
}

.briefcase__item--sm {
  padding: 0.5rem;
  font-size: 0.9rem;
}

.briefcase__links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.accomplishments {
  border: solid 1px blue;
  height: 180px;
  margin-bottom: 1rem;
}

.zero-state {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  border: dashed 4px var(--color--yellow-30);
  border-radius: var(--border-radius--lg);
  padding: 1.4rem;
  margin-top: 2rem;
  text-align: center;
  color: var(--color--dark-gray);
}

.zero-state--dont-forget {
  height: 200px;
  width: 200px;
  border-radius: var(--border-radius--circular);
}


.divider {
  width: 68em;
  height: 1px;
  background-color: var(--color--border);
  margin: 2rem 0;
}

h2 {
  font-size: 1.2rem;
}

.just-a-link {
  color: var(--color--black);
  text-decoration: underline;
}

.just-a-link--em {
  color: var(--color--blue);
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.projects__btn {
  background-color: var(--color--blue);
  height: var(--height-projects-btn);
  color: var(--color--white);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius--lg);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 4px solid var(--color--border);
  border-bottom: none;
  background-color: transparent;
  color: var(--color--ink);
  font-weight: 700;
  cursor: pointer;
}

.projects__btn:hover {
  border-color: var(--color--black);
  background-color: var(--color--white);
}

.projects__listing {
  position: absolute;
  z-index: 1000;
  top:  var(--height-projects-btn);
  width: 400px;
  max-height: 200px;
  overflow-y: scroll;
  background-color: var(--color--white);
  border-radius: var(--border-radius--lg);
  border: 1px solid var(--color--border);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  list-style: none;
}

.project-listing::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.project-listing__divider {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
}

.project-listing__divider + ul {
  margin-left: 1rem;
  border: solid 1px var(--color--border);
}

.project-listing__item {
  position: relative;
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  display: block;
  color: var(--color--ink);
  font-weight: 600;
  width: 100%;
}


.project-listing__item--pinned::before {
  content: "📌";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.9rem;
}

.project-listing__link {
  text-decoration: none;
  color: var(--color--ink);
  width: 100%;
  background-color: red;
}


.thought {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color--pink-70);
  width: fit-content;
  max-width: calc(68em * .6); /* Do clamp */
  position: relative;
  z-index: 1033;
  background-color: var(--color--body);
  rotate: -1deg;
  background-color: var(--color--yellow-30);
  transform: translateY(-20px);
}

.thought__close {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: none;
  color: var(--color--dark-gray);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 6px;
  line-height: 1;
}

.thought__close:hover {
  color: var(--color--black);
}

.thought__title {
  font-weight: 600;
  letter-spacing: -0.02em;
}

.thought__subtitle {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--color--dark-gray);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.remote-control {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color--white);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius--lg);
  border: 1px solid var(--color--border);
  box-shadow: var(--box-shadow);
  background-color: var(--color--ink);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.remote-control__link {
  color: var(--color--white);
  font-size: 0.8rem;
  font-weight: 600;
}
