/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./components
 *= require_self
 */

body {
  background-color: var(--color--black);
  color: var(--color--white);
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

article {
  max-width: 1400px;
  width: 90%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  h2 {
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    font-family: var(--font-family--display);
    line-height: 1;
  }

  p {
    text-align: center;
    width: 700px;
    font-size: 1.6rem;
    line-height: 1.4;
    font-family: var(--font-family--serif);
    margin-bottom: 2rem;
  }
}


