.job-quote {
  font-family: var(--font-family--display);
  font-size: 1.6rem;
  letter-spacing: -0.05rem;
  line-height: 1.4;
  padding: 2rem;
  background-color: var(--color--black);
  color: var(--color--white);
  border-radius: var(--border-radius--rounded);
  margin-bottom: 2rem;
  max-width: 400px;
  box-shadow: var(--box-shadow--card);
  rotate: -2deg;
}